.container {
    gap: var(--padding);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: var(--padding);
    padding-inline: var(--padding);
    padding-bottom: var(--padding-xll);
    border-bottom : 1px solid var(--secondary);
    overflow: auto;
}

.container h1{
    margin-bottom: var(--padding);
}

.categories {
    display: flex;
    gap: var(--padding);
}

.categories .categoryButton {
    border-radius: 9999px;
    display: flex;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--secondary);
}

.categories .categoryButton:hover, .categories .categoryButton.active {
    color : var(--primary);
    background : var(--secondary);
}

.categories button {
    color : inherit;
    border: none;
}

.search {
    display: flex;
    border: 1px solid var(--secondary);
    border-radius: 999px;
    max-width: 300px;
}

.search input {
    flex : 1;
    min-width: 0;
}

.search input , .search button {
    border : none;
}
